@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 255, 255, 255;
  --primary: 56, 55, 56;
  --secondary: 75, 85, 95;
  --accent: 209, 225, 188;
  --highlight: 155, 150, 151;
  --border: 200, 200, 200;

  background: rgba(var(--background));
}

/* Metroid Fusion */
.dark {
  --background: 32, 39, 62;
  --primary: 40, 148, 187;
  --secondary: 58, 24, 225;
  --accent: 173, 89, 143;
  --highlight: 244, 173, 191;
  --border: 17, 22, 38;

  background: rgba(var(--background));
}
