@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

.light {
  --secondary: 75, 85, 95;

  /* used */
  --background: 255, 255, 255;
  --base: 230, 230, 240;
  --primary: 70, 83, 96;
  --accent: 34, 138, 150;

  background: rgba(var(--background));
}

.dark {
  --secondary: 249, 226, 175; /* yellow */

  /* actually used so far: */
  --background: 30, 30, 46;
  --base: 24, 24, 37; /* navigation */
  --primary: 205, 214, 244; /* text */
  --accent: 56, 247, 20; /* neon green */

  background: rgba(var(--background));
}
