@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.light {
  --background: 255, 255, 255;
  --base: 211, 226, 239;
  --primary: 9, 19, 32;
  --accent: 23, 56, 90;
  --alert: 255, 118, 118;

  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 0;
  --base: 24, 24, 37; /* navigation */
  --primary: 205, 214, 244; /* text */
  --accent: 56, 247, 20; /* neon green */
  --alert: 255, 118, 118; /* push-up orange */

  background: rgba(var(--background));
}
